<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
</head>

<body>
    <h1>
        <%= kindOfDay %>
    </h1>
    <ul>
        <li>Buy Beer</li>
        <li>Drink Beer</li>
        <li>Drink Water</li>
        <%      for (var i = 0; i<newListItem.length; i++){ %>
            <li>
                <%= newListItem[i] %>
            </li>
            <% } %>
    </ul>

    <form class="" action="/" method="POST">
        <input type="text" name="newItem">
        <button type="submit" name="button">Add new ToDo</button>
    </form>
</body>

</html>